<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/portfolio/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200;300&display=swap" rel="stylesheet">
    <title>Avatar Generator</title>
    <script type="module" crossorigin src="/portfolio/assets/Project-8157dbe3.js"></script>
    <script src="/portfolio/assets/index.js"></script>
    <link rel="stylesheet" href="/portfolio/assets/Project-0f7aed51.css">
    <link rel="stylesheet" href="/portfolio/assets/index-c2e778f7.css">
  </head>
  <body>
    
  <main id="inicio">
    <div>
      <section id="project_title">
        <h1>{{ projects[currentProjectName].title }}</h1>
        <h2>{{ projects[currentProjectName].tag }}</h2>
      </section>

      <section class="positionRelative focus-in">
        <div class="project_videoSection">
          <div id="project_videoSection_text">
            <p class="big_green_number">01</p>
            <span class="title_afterNumber">Recorrido por la página</span>
          </div>
          <video :poster="'/portfolio/assets/img/projects/' + projects[currentProjectName].img" controls>
            <source src="" type="video/mp4">
          </video>
        </div>
        <div>
          <img class="star" id="video_star" src="/portfolio/assets/img/star.svg">
        </div>
      </section>

      <section>
        <div>
          <p class="big_green_number">02</p>
          <span class="title_afterNumber">Sobre el proyecto</span>
          <p class="project_description">{{ projects[currentProjectName].description }}</p>
        </div>
        <div class="ctn_pages">
          <div class="mobilePage">
            <img id="mobileLanding" :src="'/portfolio/assets/img/projects/' + projects[currentProjectName].imagesPath + 'preview_mobile.png'" alt="">
            <img :src="'/portfolio/assets/img/projects/' + projects[currentProjectName].imagesPath + 'fullPreview_mobile.png'" alt="">
            <img id="mobileTransparent" class="transparentImg" :src="'/portfolio/assets/img/projects/' + projects[currentProjectName].imagesPath + 'fullPreview_mobile.png'" alt="" :v-if="renderImg">
          </div>
          <div class="desktopPage">
            <img id="desktopLanding" :src="'/portfolio/assets/img/projects/' + projects[currentProjectName].imagesPath + 'preview.png'" alt="">
            <img :src="fullPreviewPath" alt="">
            <img id="desktopTransparent" class="transparentImg" :src="fullPreviewPath" alt="" :v-if="renderImg">
          </div>
        </div>
      </section>
      
    </div>
  </main>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
  </body>
</html>